<div class="container m-5 d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center">Update teacher Details</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="teachersDetailsUpdatedForm" (ngSubmit)="updateteacherDetails()">

                    <div class="mb-3 row">
                        <label for="teacherId" class="col-sm-3 col-form-label">teacher Id:</label>
                        <div class="col-sm-8">
                            <input type="text" id="teacherId" class="form-control" formControlName="teachersId">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="firstName" class="col-sm-3 col-form-label">First Name:</label>
                        <div class="col-sm-8">
                            <input type="text" id="firstName" class="form-control" formControlName="firstName">
                            <span class="text-danger"
                                *ngIf="teachersDetailsUpdatedForm.get('firstName')?.hasError && teachersDetailsUpdatedForm.get('firstName')?.touched">teacher
                                first name required</span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="lastName" class="col-sm-3 col-form-label">Last Name:</label>
                        <div class="col-sm-8">
                            <input type="text" id="lastName" class="form-control" formControlName="lastName">
                            <span class="text-danger"
                                *ngIf="teachersDetailsUpdatedForm.get('lastName')?.hasError && teachersDetailsUpdatedForm.get('lastName')?.touched">teacher
                                last name required</span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="age" class="col-sm-3 col-form-label">Age:</label>
                        <div class="col-sm-8">
                            <input type="number" id="age" class="form-control" formControlName="age">
                            <span class="text-danger"
                                *ngIf="teachersDetailsUpdatedForm.get('age')?.hasError && teachersDetailsUpdatedForm.get('age')?.touched">teacher
                                Age is required</span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="email" class="col-sm-3 col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <input type="email" id="email" class="form-control" formControlName="email">
                            <span class="text-danger"
                                *ngIf="teachersDetailsUpdatedForm.get('email')?.hasError && teachersDetailsUpdatedForm.get('email')?.touched">teacher
                                email is required</span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="standard" class="col-sm-3 col-form-label">Standard:</label>
                        <div class="col-sm-8">
                            <input type="text" id="standard" class="form-control" formControlName="standard">
                            <span class="text-danger"
                                *ngIf="teachersDetailsUpdatedForm.get('standard')?.hasError && teachersDetailsUpdatedForm.get('standard')?.touched">teacher
                                standard is required</span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-sm-8 offset-sm-3 text-center">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="teachersDetailsUpdatedForm.invalid">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>