<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/students">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teachers">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/standard">Standard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/studentdetails">Studentdetails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sqlteachers/view">Teachersseq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/studentsql/view">Studentsseq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seqStandards">StandardsSeq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hands" (click)="userLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>