<div class="container m-5 d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center">Update teacher Details</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="standardDetailsUpdatedForm">

                    <div class="mb-3 row">
                        <label for="standardId" class="col-sm-3 col-form-label">standard Id:</label>
                        <div class="col-sm-8">
                            <input type="text" id="standardId" class="form-control" formControlName="standardId">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="standard" class="col-sm-3 col-form-label">Standard:</label>
                        <div class="col-sm-8">
                            <input type="text" id="standard" class="form-control" formControlName="standard">
                            <span class="text-danger"
                                *ngIf="standardDetailsUpdatedForm.get('standard')?.hasError && standardDetailsUpdatedForm.get('standard')?.touched">
                                standard name is required</span>
                        </div>
                    </div>


                    <div class="mb-3 row">
                        <div class="col-sm-8 offset-sm-3 text-center">
                            <button type="submit" class="btn btn-primary" (click)="updatestandardDetails()"
                                [disabled]="standardDetailsUpdatedForm.invalid">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>