<div class="container">
    <div *ngIf="noTeachersData">
        <app-emptyscreen name="teacher" [msg]="teacheres">
            <app-button [btnName]="teacherBtnName" (click)="addTeachers()"></app-button>
        </app-emptyscreen>
    </div>
    <div *ngIf="!noTeachersData">
        <div class="row">
            <div class="text-end mt-4">
                <app-button [btnName]="teacherBtnName" (click)="addTeachers()"></app-button>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Standard</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let teachers of teachersData">
                            <td>{{teachers.first_name}}</td>
                            <td>{{teachers.last_name}}</td>
                            <td>{{teachers.age}}</td>
                            <td>{{teachers.email}}</td>
                            <td>{{teachers.standard}}</td>
                            <td>
                                <a class="btn btn-warning btn-sm m-1"
                                    [routerLink]="['/sqlteachers/edit', teachers._id]">Edit</a>
                                <a class="btn btn-danger btn-sm" (click)="deleteItem(teachers._id)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>