<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12 col-md-6 m-auto">
            <div class="card">
                <div class="card-title text-center h2 mt-4">
                    Login
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm">
                        <div class="mb-3">
                            <input type="email" class="form-control my-4 py-3" id="userEmail"
                                placeholder="Email address" formControlName="email">
                                <div
                                *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                               <p class="text-danger">Email is required.</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input [type]="password" class="form-control my-4 py-3 position-relative" id="inputPassword"
                                placeholder="Password" formControlName="password">
                                <button (click)="onClick()" class="position-absolute eyebutton">
                                    <i class="bi bi-eye-slash-fill" aria-hidden="true" *ngIf="!show"></i>
                                    <i class="bi bi-eye-fill" aria-hidden="true" *ngIf="show"></i>
                                  </button>
                                <div
                                *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                               <p class="text-danger">Password is required.</p>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" (ngSubmit)="loginFormSubmit()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>