<div class="container m-5 d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center">Teachers Details</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="teacherAddingForm">

                    <div class="mb-3 row">
                        <label for="firstName" class="col-sm-3 col-form-label">First Name:</label>
                        <div class="col-sm-8">
                            <input type="text" id="firstName" class="form-control" formControlName="firstName">
                            <span
                                *ngIf="teacherAddingForm.get('firstName')?.hasError('required') && teacherAddingForm.get('firstName')?.touched"
                                class="text-danger">teacher first name is required</span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="lastName" class="col-sm-3 col-form-label">Last Name:</label>
                        <div class="col-sm-8">
                            <input type="text" id="lastName" class="form-control" formControlName="lastName">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="age" class="col-sm-3 col-form-label">Age:</label>
                        <div class="col-sm-8">
                            <input type="number" id="age" class="form-control" formControlName="age">
                            <span
                                *ngIf="teacherAddingForm.get('age')?.hasError('required') && teacherAddingForm.get('age')?.touched"
                                class="text-danger">teacher
                                age is required</span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="email" class="col-sm-3 col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <input type="email" id="email" class="form-control" formControlName="email">
                            <span
                                *ngIf="teacherAddingForm.get('email')?.hasError('required') && teacherAddingForm.get('email')?.touched"
                                class="text-danger">teacher email
                                is required</span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="password" class="col-sm-3 col-form-label">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" id="password" class="form-control" formControlName="password">
                            <span
                                *ngIf="teacherAddingForm.get('password')?.hasError('required') && teacherAddingForm.get('password')?.touched"
                                class="text-danger">teacher password is required</span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="standard" class="col-sm-3 col-form-label">Standard:</label>
                        <div class="col-sm-8">
                            <select id="standard" class="form-select" formControlName="standard">
                                <option value="none" [selected]="true">Select Standard</option>
                                <option *ngFor="let standard of dropDownData" [ngValue]="standard._id">
                                    {{standard.standard}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="mb-3 row">
                        <div class="col-sm-8 offset-sm-3 text-center">
                            <button type="submit" class="btn btn-primary" (click)="teacherFormSubmit()"
                                [disabled]="teacherAddingForm.invalid">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>